.cache
.classpath
.DS_STORE
*.netrwhist
.history
.idea
.idea_modules
.project
.settings
*.sublime-project
*.sublime-workspace
*.swp
bash_history
bash_prompt_old
bin/*
config/fish/fish_history
config/fish/config.secret.*
nvim/plugged/*
secrets
snapshots/*
target
target/*
tmp
tmp/*
vim/bundle/*
vim/sessions/*
vim/vim-backup/*
vim/vim-tmp/*
vim/vim-undo/*
vim/vim-view/*
